html, body{
    margin: 0;
    padding: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    font-family: sans-serif;
    line-height: 1.2;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

::-webkit-scrollbar {
    display: none;
}

.top-container{
    position: sticky;
    top: 0;
    display: flex;
    width: 100vw;
    background-image: linear-gradient(
        rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%
    );
    z-index: 1;
}

.page{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.project-description{
    padding: 10px;
    margin: 0;
    font-size: 32px;
}

.index-wrapper{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.issue-wrapper{
    display: flex;
    width: 100%;
}

.issue-title{
    width: 87.5%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
    font-size: 32px;
}

.issue-date{
    width: 12.5%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: right;
    padding: 10px;
}

a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    opacity: 0.5;
}

a:hover{
    opacity: 1;
}

img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.tlov-thumb
{
    display: none;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
}

.tlov:hover + .tlov-thumb{
    display: block;
}